#main-container {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    min-height: 100vh;
    background-color: white; 
    border-left: 1px solid rgb(244, 244, 245);
    border-right: 1px solid rgb(244, 244, 245);
}

@media (max-width: 1270px){
    #main-container {
        max-width: 90% !important;
    }
}

@media (max-width: 1024px){
    #main-container {
        max-width: 980px;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    #footer {
        position: absolute;
        left: 0;
        right: 0;
        padding-left: 2%;
        padding-right: 2%;
    }

}

p {
    color: #27272a
}
